Package: net.angelxwind.karenprefs
Name: KarenPrefs
Depends: preferenceloader
Version: 1.4
Architecture: iphoneos-arm
Description: A development library that provides various conveniences and enhancements for developers seeking to write preference bundles for their tweaks.
Homepage: https://cydia.angelxwind.net/
Depiction: https://cydia.angelxwind.net/?page/net.angelxwind.karenprefs
Maintainer: Karen/あけみ (angelXwind) <karen@angelxwind.net>
Author: Karen/あけみ (angelXwind) <karen@angelxwind.net>
Section: Development
