Package: net.angelxwind.karenprefs
Name: KarenPrefs
Depends: preferenceloader
Version: 1.6
Architecture: iphoneos-arm
Description: A development library that provides various conveniences and enhancements for developers seeking to write preference bundles for their tweaks.
Homepage: https://cydia.akemi.ai/
Depiction: https://cydia.akemi.ai/?page/net.angelxwind.karenprefs
Maintainer: Karen/あけみ <karen@akemi.ai>
Author: Karen/あけみ <karen@akemi.ai>
Section: Development
